
.container{
  margin: 0 auto;
}

.menu{
  margin: auto 20px;
  width: 100%;
}

.frame-square {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
}
