.container{
  margin: 0 auto;
}

.menu-container{
  margin: 0 auto;
  width: 90%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
}

